# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


#database
/data
# dependencies
/node_modules
/.pnp
.pnp.js

#client
/client/node_modules



# testing
/coverage

# production
/build



