
.shops--container{
    position: absolute;
    top: 80px;
    left: 50%;
    @include transform(translateX(-50%));
    padding-bottom: 100px;

    
    #shops--container-preloader{
        position: absolute;
        bottom: 60px;
        left: 50%;
        @include transform(translateX(-50%));
        @media screen and (min-width: 480px){
          bottom: 40px;
        }
        .spinner-color{
          border-color: $brandColor;
        }
      }
    
    @media screen and (min-width: 480px){
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 80vw;
      
    }

}


#shops{
    position: relative;
}