
.shop{
    position: relative;
    width: 90vw;
    height: 120vw;
    margin-bottom: 20px;
    border-bottom: $lightGrey 1px solid;
    color: $darkColor;
    opacity: 1;
    transition: margin 500ms ease-in-out,height 500ms ease-in-out,opacity 300ms ease-in-out;
    

    

    @media screen and (min-width: 480px){
        width: 15vw;
        height: 22vw;
        border-bottom: none;
        
        margin: 20px;
        transition: margin 500ms ease-in-out,width 500ms ease-in-out,opacity 300ms ease-in-out;
        
        border-radius: 4px;
        
    }
    div,span{
        display: block;
       
    }
    .shop--info{
        position: relative;
        width: 100%;
        
        
        .shop--info-name{
            font-family: Futura LT Heavy;
            @media screen and (min-width: 480px){
                font-size: 0.8em;
            }
        }
        .shop--info-adresse{
            font-family: Futura LT;
            font-size: 0.8em;
            margin-top: 5px;
            @media screen and (min-width: 480px){
                font-size: 0.6em;
                height: 20px;
            }
        }
        .shop--info-image{
            margin: 10px 0 10px 0;
            .shopThumbnail--placeholder{
                position: relative;
                border-radius: 6px;
                width: 90vw;
                height: 90vw; 
                background-color: $brandColor;
                @media screen and (min-width: 480px){
                    width: 15vw;
                    height: 15vw;
                }
                >div{
                    position: absolute;
                    text-align: center;
                    width: 200px;
                    height: 65px;
                    top: 50%;
                    left: 50%;
                    @media screen and (min-width: 480px){
                        width: 100px;
                        height: 32px;
                    }
                    @include transform(translate(-50%,-50%));
                    .shopThumbnail--placeholder-icon{
                        position: absolute;
                        left: 50%;
                        @include transform(translateX(-50%));
                        width: 65px;
                        height: 40px;
                        background-image: url('../scripts/graphics/whiteIcon.png');
                        background-size: cover;
                        @media screen and (min-width: 480px){
                            width: 32px;
                            height: 20px;
                        }
                    }
                    span{
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        @include transform(translateX(-50%));
                        color: white;
                        white-space: nowrap;
                        font-family: Futura LT;
                        @media screen and (min-width: 480px){
                            font-size: 0.6em;
                        }
                        
                    }
                }
            }
            img{
                border-radius: 6px;
                width: 90vw;
                height: 90vw; 
                object-fit: cover;
                @media screen and (min-width: 480px){
                    width: 15vw;
                    height: 15vw;
                    
                    
                }
                
            }
            
        }
    }
                
    .shop--controles{
        position: relative;
        width: 100%;
        .shop--controles-distance{
            font-family: Futura LT;
            position: absolute;
            left: 0;
            @media screen and (min-width: 480px){
                font-size: 0.8em;
            }

        }
        .shop--controles-dislike{
            width: 29px;
            height: 25px;
            position: absolute;
            right: 40px;
            cursor: pointer;
            @media screen and (min-width: 480px){
                width: 20px;
                height: 20px;
            }
            
        }
        .shop--controles-like{
            width: 29px;
            height: 25px;
            position: absolute;
            right: 0;
            cursor: pointer;
            @media screen and (min-width: 480px){
                width: 23px;
                height: 20px;
            }
            
        }
    }
}

.shop:hover{
    // box-shadow: rgba(0,0,0,0.3) 0 0 6px ;
}

.shop:not(.shop--placeholder){
    .shop--controles{
        
        .shop--controles-dislike{
            
            background-image: url('../icons/dislike.png');
            background-size: 25px;
            background-repeat: no-repeat;
            @media screen and (min-width: 480px){
                background-size: 20px;
            }
        }
        .shop--controles-dislike-active{
            background-image: url('../icons/dislikeFocus.png');
            background-size: 25px;
            background-repeat: no-repeat;
            @media screen and (min-width: 480px){
                background-size: 20px;
            }
        }
        .shop--controles-like{
            
            background-image: url('../icons/like.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
        .shop--controles-like-active{
            background-image: url('../icons/likeFocus.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

.shop.shop--placeholder{


    div,span{
        display: block;
        border-radius: 6px;
        margin-top: 5px;
        @media screen and (min-width: 480px){
            border-radius: 4px;
        }
    }
    
    .shop--info{
        .shop--info-name{
            width: 80px;
            height: 25px;
            background-color: $lightGrey;
            @media screen and (min-width: 480px){
                width: 40px;
                height: 12px;
            }
        }
        .shop--info-adresse{
            width: 200px;
            height: 15px;
            background-color: $lightGrey;
            @media screen and (min-width: 480px){
                width: 100px;
                height: 8px;
            }
        }
        .shop--info-image{
            width: 90vw;
            height: 90vw; 
            background-color: $lightGrey;
            @media screen and (min-width: 480px){
                width: 15vw;
                height: 15vw;
            }
        }
    }
                
    .shop--controles{
        .shop--controles-distance{
            width: 40px;
            height: 25px;
            background-color: $lightGrey;
            @media screen and (min-width: 480px){
                width: 30px;
                height: 12px;
            }
        }
        .shop--controles-dislike{
            
            background-color: $lightGrey;
        }
        .shop--controles-like{
            
            background-color: $lightGrey;
        }
    }
        
}

.shop.shop--remove{
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    
    @media screen and (min-width: 480px){
        opacity: 0;
        height: 22vw;
        width: 0;
        margin: 20px 0 20px 0;
        
    }
}
