
.shop{
    position: relative;
    width: 90vw;
    height: 120vw;
    margin-bottom: 20px;
    border-bottom: $lightGrey 1px solid;
    div,span{
        display: block;
    }
    .shop--info{
        position: relative;
        width: 100%;
        
        .shop--info-name{
            font-family: Futura LT Heavy;
        }
        .shop--info-adresse{
            font-family: Futura LT;
            font-size: 0.8em;
            margin-top: 5px;
        }
        .shop--info-image{
            img{
                border-radius: 6px;
                width: 90vw;
                height: 90vw; 
                margin: 10px 0 10px 0;
                object-fit: cover;
            }
            
        }
    }
                
    .shop--controles{
        position: relative;
        width: 100%;
        .shop--controles-distance{
            
            position: absolute;
            left: 0;

        }
        .shop--controles-dislike{
            width: 29px;
            height: 25px;
            position: absolute;
            right: 40px;
            
        }
        .shop--controles-like{
            width: 29px;
            height: 25px;
            position: absolute;
            right: 0;
            
        }
    }
}

.shop:not(.shop--placeholder){
    .shop--controles{
        
        .shop--controles-dislike{
            
            background-image: url('../icons/dislike.png');
            background-size: 25px;
            background-repeat: no-repeat;
        }
        .shop--controles-like{
            
            background-image: url('../icons/like.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

.shop.shop--placeholder{


    div,span{
        display: block;
        border-radius: 6px;
        margin-top: 5px;
    }
    .shop--info{
        .shop--info-name{
            width: 80px;
            height: 25px;
            background-color: $lightGrey;
        }
        .shop--info-adresse{
            width: 200px;
            height: 15px;
            background-color: $lightGrey;
        }
        .shop--info-image{
            width: 90vw;
            height: 90vw; 
            background-color: $lightGrey;
        }
    }
                
    .shop--controles{
        .shop--controles-distance{
            width: 40px;
            height: 25px;
            background-color: $lightGrey;
        }
        .shop--controles-dislike{
            
            background-color: $lightGrey;
        }
        .shop--controles-like{
            
            background-color: $lightGrey;
        }
    }
        
}